h1 {
  text-align: center;
  font-size: 250%;
  margin-top: 30px;
}

form {
  background-color: rgba(50, 50, 50, 0.85);
  text-align: center;
  font-size: 25px;
  width: 225px;
  height: 275px;
  margin-left: 38%;
  margin-top: 5px;
  padding: 5px;
  padding-left: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(35, 80, 35);
}

li {
  float: left;
}

.label {
  padding-top: 50px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: silver;
}

footer {
  margin-top: 80%;
  background-color: rgb(35, 80, 35);
}

body {
  background-image: url("/tree.jpg");
  background-position: left;
  background-repeat: no-repeat;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
}

* {
  box-sizing: border-box;
}

/* style the container */
.container {
  position: relative;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px 0 30px 0;
}

input,
.btn {
  width: 200px;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;

  margin-top: 12px;
}

input:hover,
.btn:hover {
  opacity: 1;
}

/* style the submit button */
input[type="submit"] {
  background-color: #4caf50;
  color: darkgrey;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: darkgrey;
}

/* Two-column layout */
.col {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* vertical line */
.vl {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #ddd;
  height: 175px;
}

/* text inside the vertical line */
.inner {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
}

/* hide some text on medium and large screens */
.hide-md-lg {
  display: none;
}

/* bottom container */
.bottom-container {
  text-align: center;
  background-color: #666;
  border-radius: 0px 0px 4px 4px;
}

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .col {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }

  /* hide the vertical line */
  .vl {
    display: none;
  }

  /* show the hidden text on small screens */
  .hide-md-lg {
    display: block;
    text-align: center;
  }
}

p {
  text-align: center;
  width: 900px;
  height: 400px;
  margin-left: 15%;
  font-size: 20px;
  margin-top: 5px;
  padding: 15px;
  padding-left: 20px;
  background-color: rgba(50, 50, 50, 0.9);
}
